/* font */
html {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background-color: black;
}

/* global settings */
body {
    margin: 0rem;
}

/* parralex images top */
.top-image {
    background-image: url("../img/background_top2.jpg");
    height: 8vw;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    padding-top: 5rem;
}

.parralex {
    background-image: url("../img/background_top2.jpg");
    height: 10vw;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

@media (max-width: 480px) {

    .top-image,
    .parralex {
        display: none
    }
}

/* css navbar */
nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    position: fixed;
    width: 100%;
    background-color: black;
    z-index: 100;
}

.link-flex-align {
    display: flex;
    gap: 2rem;
    margin-right: 5rem;
    align-items: center;
}

.link-flex-align a {
    text-decoration: none;
    color: white;
}

.link-flex-align a:hover {
    text-decoration: none;
    color: rgb(172, 172, 172);
}

.navbar-img {
    height: 3rem;
    padding: 1rem;
}

.special-link {
    border: 0.2rem solid white;
    background-color: white;
    color: black !important;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

.special-link:hover {
    background-color: black;
    color: white !important;
}

@media (max-width: 480px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .link-flex-align {
        flex-direction: column;
        margin-right: 0rem;
    }

    .special-link {
        text-align: center;
        width: 75vw;
    }
}

/* css for opener */

.main-title {
    font-size: 1.75rem;
    text-shadow: 0.1rem 0.1rem black;
}

.full-width-opener {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/background.gif");
    color: white;
    background-color: black;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 17rem;
    padding-top: 17rem;
    text-align: center;
}

.button-flexbox {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

/* css for the items */

.items {
    margin-bottom: 5rem;
}

.items-flexbox {
    display: flex;
    justify-content: center;
}

.item-container {
    transition: filter .75s ease-in-out;
    margin: 1rem;
    filter: grayscale(100%);
    text-align: center;
    border: 0.05rem solid white;
    border-radius: 2rem;
    padding: 3rem 0rem;
}

.item-container:hover {
    filter: grayscale(0%);
}

.items img {
    max-width: 20vw;
    border-bottom: 0.05rem solid white;
}

.items-title {
    transition: color .5s ease-in-out;
    margin: 2vw 20vw;
    text-align: center;
}

.items-title:hover {
    color: #FF005A;
    text-align: center;
}

.items-text {
    width: 20vw;
}

.button-item {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    width: 8rem;
    border: 0.1rem solid white;
    border-radius: 0.2rem;
    background-color: black;
    color: white;
}

.button-item:hover {
    color: black;
    background-color: white;
}

@media (max-width: 480px) {
    .items-flexbox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .items img {
        max-width: 80vw;
    }

    .items-text {
        width: auto;
    }

}

/* css for quote */

.quote {
    text-align: center;
}

.quote p {
    font-style: italic;
    margin-bottom: 5vw;
}

.quote-title {
    font-style: italic;
    margin: 5vw 20vw;
    text-align: center;
    font-size: 1.5rem;
}

@media (max-width: 480px) {
    .quote-title {
        margin: 5vw 5vw;
    }
}

/* css for the form */

.form-flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-text-box,
.birthdate-box,
.topic-select,
.text-box {
    display: flex;
    flex-direction: column;
    width: auto;
}

.name-flexbox {
    display: flex;
    justify-content: space-between;
}

select {
    border-radius: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 1rem 1rem;
}

input,
textarea {
    border-color: black;
    border-radius: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

input:invalid:not(:placeholder-shown) {
    border: 0.1rem solid red;
}

input:invalid,
select:invalid,
textarea:invalid {
    border: 0.1rem solid red;
}

input:valid {
    border: 0.1rem solid green;
}


input[type="text" i],
input[type="date" i] {
    padding: 1rem 1rem;
    text-align: left;
    width: 11rem;
}

input[type="email" i] {
    padding: 1rem 1rem;
    text-align: left;
}

input[type="checkbox" i] {
    margin-right: 1vw;
}

@media (max-width: 480px) {
    .form-flexbox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .input-text-box,
    .birthdate-box,
    .topic-select,
    .text-box {
        display: flex;
        flex-direction: column;
    }

    .name-flexbox {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    input[type="text" i],
    input[type="date"] {
        width: auto;
    }

}

/* css footer */
.footer-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-right {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1vw;
    margin: 1vw;
    color: rgb(177, 177, 177);
}

.footer-right a:hover {
    color: rgb(223, 223, 223);
}

.footer-left {
    margin: 1vw;
}

footer img {
    height: 1.5rem;
    padding: 2vw;
}

@media (max-width: 480px) {
    .footer-flex {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-right {
        flex-direction: column;
    }
}

/* button settings */
.button-form {
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.button-main,
.button-form {
    padding: 0.5rem 1rem;
    width: 8rem;
    border: 0.1rem solid white;
    border-radius: 0.2rem;
    background-color: transparent;
    color: white;
}

.button-main:hover,
.button-form:hover {
    color: black;
    background-color: white;
}

.button-secondary {
    padding: 0.5rem 1rem;
    width: 8rem;
    border: 0.1rem solid white;
    border-radius: 0.2rem;
    background-color: white;
    color: black;
}

.button-secondary:hover {
    border-radius: 0.2rem;
    background-color: black;
    color: white;
}

.button-form {
    width: 100%;
}

@media (max-width: 480px) {
    .button-main {
        width: 6rem;
    }

    .button-secondary {
        width: 6rem;
    }
}